body {
  margin: 0;
  background-color: #243D4B;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  color: #FFFFFF;
}

#clock {
  /* font-size: 50px; */
  position: relative;
  bottom: 100px; 
}

#adviceButton {
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 22px;
  background-color: #000000;
  color: #FFFFFF;
  cursor: pointer;
  /* transition: background-color 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}

.briefInfo {
  color: rgb(193, 193, 193);
}

/* #adviceButton:hover {
  background-color: grey;
} */

.adviceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 50px 0px;
  text-align: center;
}

#adviceDisplay {
  font-size: 20px;
  width: 50%;
  height: 200px;
}

#adviceDisplay.fortnite {
  animation: adviceShow 0.5s ease-in;
}

@keyframes adviceShow {
  0% {
    opacity: 0;
}

 100% {
    opacity: 1;
}

}